<!DOCTYPE html>
<html>
        <meta charset="utf-8"/>
        <title>Bienvenido a Vademano</title>


        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
   		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>   
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<link rel="stylesheet" href="view/css/estilos.css">
		<link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">
        <script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
        <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
 
</head>
<body>
		<div class="jumbotron">
		  <h1>Bienvenido a Vademano!</h1>
		  <p>Ya te encuentras afiliado a unestro sistema tus datos para acceder son:</p>
		  <p>usuario: </p>
		  <p>clave: </p>
		  <p>Presiona el siguiente boton para validar tu cuenta !!! </p>
		  <p><a class="btn btn-primary btn-lg" href="#" role="button">Validar</a></p>
		</div>


</body>
</html>